.sportsbet-dark {
  --base--space: 16px;
  --base--font-size: 16px;
  --base--line-height: 20px;
  --border-style: solid;
  --border-width: 1px;
  --border: 1px solid;
  --box-shadow: 0px 2.4px 7.2px rgba(0, 0, 0, 0.18), 0px 12.8px 28.8px rgba(0, 0, 0, 0.22);
  --breakpoint--small: 500px;
  --breakpoint--medium: 800px;
  --breakpoint--large: 1080px;
  --breakpoint--xlarge: 1200px;
  --font-face--regular--font-family: Averta Std;
  --font-face--regular--font-style: normal;
  --font-face--regular--font-display: swap;
  --font-face--regular--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  --font-face--regular--font-weight: 400;
  --font-face--regular--src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");
  --font-face--semibold--font-family: Averta Std;
  --font-face--semibold--font-style: normal;
  --font-face--semibold--font-display: swap;
  --font-face--semibold--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  --font-face--semibold--font-weight: 500;
  --font-face--semibold--src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
  --font-family: Averta Std, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: 14;
  --font-weight--normal: 400;
  --font-weight--semibold: 500;
  --max-width--default: 1024;
  --max-width--large: 1440;
  --opacity--disabled: 0.35;
  --radius--small: 4px;
  --radius--default: 8px;
  --radius--largest: 100px;
  --space--xsmall: 4px;
  --space--small: 8px;
  --space--default: 16px;
  --space--medium: 24px;
  --space--large: 32px;
  --space--xlarge: 40px;
  --transition-duration--slow: 0.4s;
  --transition-duration--default: 0.2s;
  --z-index--carousel-control: 5;
  --z-index--dialog: 5;
  --z-index--toggle: 1;
  --color--text: #FFFFFF;
  --color--background: #232A33;
  --color--krillin-10: #FFE4AD;
  --color--krillin-100: #FFB319;
  --color--chi_chi-10: #FFA7B2;
  --color--chi_chi-100: #FF4E64;
  --color--roshi-10: #B6F3D0;
  --color--roshi-100: #0CD664;
  --color--dodoria-10: #E99797;
  --color--dodoria-100: #D33030;
  --color--cell-10: #84DBAB;
  --color--cell-100: #0AB758;
  --color--raditz-10: #D9BFA4;
  --color--raditz-100: #B3804A;
  --color--whis-10: #87BADE;
  --color--whis-100: #0F75BD;
  --color--frieza-10: #B6A3E9;
  --color--frieza-100: #5C33CF;
  --color--nappa-10: #B8AAA7;
  --color--nappa-100: #725550;
  --color--piccolo-80: #19E170;
  --color--piccolo-100: #0CD463;
  --color--piccolo-120: #02C556;
  --color--hit-80: #242D38;
  --color--hit-100: #1A212A;
  --color--hit-120: #11161D;
  --color--beerus-100: #31373F;
  --color--goku-10: #62676D;
  --color--goku-40: #4C5159;
  --color--goku-80: #353C44;
  --color--goku-100: #232A33;
  --color--gohan-10: #8C9095;
  --color--gohan-40: #5F646A;
  --color--gohan-80: #31373F;
  --color--gohan-100: #1A212A;
  --color--goten-100: #FFFFFF;
  --color--bulma-100: #FFFFFF;
  --color--trunks-100: #8697A2; }

