.moon-checkbox {
  display: inline-block;
  position: relative;
  align-items: center;
  min-height: var(--space--default); }

.moon-checkbox-caption {
  display: inline-block;
  margin-left: calc(var(--space--default) + var(--space--xsmall) * 3);
  color: var(--color--trunks-100);
  /* Pseudo Checkbox Circle */
  /* Psuedo Checkbox */ }
  .moon-checkbox-caption::before, .moon-checkbox-caption::after {
    content: '';
    position: absolute;
    width: var(--space--default);
    height: var(--space--default);
    top: var(--border-width);
    left: 0;
    transition-duration: var(--transition-duration--default);
    transition-timing-function: ease; }
  .moon-checkbox-caption::before {
    background-color: var(--color--goku-40);
    border-radius: 50%;
    opacity: 0;
    transform: none;
    transition-property: background-color, transform, opacity;
    will-change: transform, opacity; }
  .moon-checkbox-caption::after {
    border: 0.125rem solid var(--color--trunks-100);
    border-radius: 0.125rem;
    background-color: transparent;
    transition-property: border-color; }

.moon-checkbox-input {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }
  .moon-checkbox-input + span {
    cursor: pointer; }
    .moon-checkbox-input + span::after {
      background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22auto%22%20fill%3D%22none%22%20viewBox%3D%220%200%2020%2014%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18%200c-.56%200-1.06.22-1.42.58L8%209.18l-4.58-4.6C3.06%204.22%202.56%204%202%204%20.9%204%200%204.9%200%206c0%20.56.22%201.06.58%201.42l6%206c.36.36.86.58%201.42.58.56%200%201.06-.22%201.42-.58l10-10c.36-.36.58-.86.58-1.42%200-1.1-.9-2-2-2z%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0; }
  .moon-checkbox-input:hover:enabled + span::before, .moon-checkbox-input:focus:enabled + span::before {
    opacity: 0.5;
    transform: scale(2); }
  .moon-checkbox-input:hover:enabled:checked + span::before, .moon-checkbox-input:focus:enabled:checked + span::before {
    opacity: 0.1;
    background-color: var(--color--piccolo-100); }
  .moon-checkbox-input:hover:enabled:not(:checked) + span::after, .moon-checkbox-input:focus:enabled:not(:checked) + span::after {
    border-color: var(--color--trunks-100); }
  .moon-checkbox-input:checked + span::after {
    background-color: var(--color--piccolo-100);
    background-size: 0.625rem;
    border-color: var(--color--piccolo-100); }
  .moon-checkbox-input[disabled] + span {
    opacity: 0.5;
    cursor: not-allowed; }

