@font-face {
  font-family: 'Averta Std';
  font-style: normal;
  font-display: swap;
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
  font-weight: 400;
  src: local("AvertaStd-Regular"), local("Averta Std Regular"), url('https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2') format("woff2"); }

@font-face {
  font-family: 'Averta Std';
  font-style: normal;
  font-display: swap;
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
  font-weight: 500;
  src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url('https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2') format("woff2"); }

.aposta10-light {
  --base--space: 16px;
  --base--font-size: 16px;
  --base--line-height: 20px;
  --border-style: solid;
  --border-width: 1px;
  --border-i-width: 2px;
  --border: 1px solid;
  --box-shadow: 0px 0px 1px 0px #00000066, 0px 8px 24px -6px #00000029;
  --breakpoint--small: 500px;
  --breakpoint--medium: 800px;
  --breakpoint--large: 1080px;
  --breakpoint--xlarge: 1200px;
  --font-face--regular--font-family: Averta Std;
  --font-face--regular--font-style: normal;
  --font-face--regular--font-display: swap;
  --font-face--regular--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  --font-face--regular--font-weight: 400;
  --font-face--regular--src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");
  --font-face--semibold--font-family: Averta Std;
  --font-face--semibold--font-style: normal;
  --font-face--semibold--font-display: swap;
  --font-face--semibold--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  --font-face--semibold--font-weight: 500;
  --font-face--semibold--src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
  --font-family: Averta Std, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: 14;
  --font-weight--normal: 400;
  --font-weight--semibold: 500;
  --max-width--default: 1024;
  --max-width--large: 1440;
  --opacity--disabled: 0.35;
  --radius--small: 4px;
  --radius--default: 8px;
  --radius--largest: 100px;
  --space--xsmall: 4px;
  --space--small: 8px;
  --space--default: 16px;
  --space--medium: 24px;
  --space--large: 32px;
  --space--xlarge: 40px;
  --transition-duration--slow: 0.4s;
  --transition-duration--default: 0.2s;
  --z-index--carousel-control: 5;
  --z-index--dialog: 5;
  --z-index--toggle: 1;
  --text: #010913;
  --background: #F4F5F6;
  --krillin-10: #FFE4AD;
  --krillin: #FFB319;
  --chi-chi-10: #FFA7B2;
  --chi-chi: #FF4E64;
  --roshi-10: #B6F3D0;
  --roshi: #0CD664;
  --dodoria-10: #E99797;
  --dodoria: #D33030;
  --cell-10: #84DBAB;
  --cell: #0AB758;
  --raditz-10: #D9BFA4;
  --raditz: #B3804A;
  --whis-10: #87BADE;
  --whis: #0F75BD;
  --frieza-10: #B6A3E9;
  --frieza: #5C33CF;
  --nappa-10: #B8AAA7;
  --nappa: #725550;
  --popo: #000;
  --piccolo: #39A275;
  --hit-80: #F7F7F7;
  --hit: #FFFFFF;
  --hit-120: #F0F0F0;
  --goten: #FFFFFF;
  --goku-10: #C8D0D5;
  --goku-40: #DADFE2;
  --goku-80: #EBEEEF;
  --goku: #F4F5F6;
  --gohan-10: #D4D9DE;
  --gohan-40: #E6E8EB;
  --gohan-80: #F7F7F8;
  --gohan: #FFFFFF;
  --beerus: #DADFE2;
  --bulma: #010913;
  --trunks: #8697A2;

  --radius-i-xs: 0.25rem; /* 4px */
  --radius-i-sm: 0.5rem; /* 8px */
  --radius-i-md: 0.75rem; /* 12px */
  --radius-s-xs: 0.25rem; /* 4px */
  --radius-s-sm: 0.5rem; /* 8px */
  --radius-s-md: 0.75rem; /* 12px */
  --radius-s-lg: 1rem; /* 16px */

  space: var(--base--space);
  font-size: var(--base--font-size);
  line-height: var(--base--line-height);
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font-family);
  font-weight: var(--font-face--regular--font-weight); }

