@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 400;
  src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");
}
@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 500;
  src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
}
.lab-dark {
  --base--space: 16px;
  --base--font-size: 14;
  --base--line-height: 20px;
  --border-style: Solid;
  --border-width: 1px;
  --border: 1px solid;
  --breakpoint--small: 500px;
  --breakpoint--medium: 800px;
  --breakpoint--large: 1080px;
  --breakpoint--xlarge: 1200px;
  --font-face--regular--font-family: Averta Std;
  --font-face--regular--font-style: normal;
  --font-face--regular--font-display: swap;
  --font-face--regular--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  --font-face--regular--font-weight: 400;
  --font-face--regular--src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");
  --font-face--semibold--font-family: Averta Std;
  --font-face--semibold--font-style: normal;
  --font-face--semibold--font-display: swap;
  --font-face--semibold--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  --font-face--semibold--font-weight: 500;
  --font-face--semibold--src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
  --font-family: Averta Std, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: 1200px;
  --font-weight--normal: 400;
  --font-weight--semibold: 500;
  --max-width--default: 1024;
  --max-width--large: 1440;
  --opacity--disabled: 0.35;
  --radius--small: 0.25rem;
  --radius--medium: 0.5rem;
  --radius--large: 0.75rem;
  --radius--xlarge: 1rem;
  --radius--full: 9999px;
  --radius--default: 0.5rem;
  --space--xsmall: 4px;
  --space--small: 8px;
  --space--default: 16px;
  --space--medium: 24px;
  --space--large: 32px;
  --space--xlarge: 40px;
  --transition-duration--slow: 0.4;
  --transition-duration--default: 0.2;
  --z-index--carousel-control: 5;
  --z-index--dialog: 1000;
  --z-index--toggle: 1;
  space: var(--base--space);
  font-size: var(--base--font-size);
  line-height: var(--base--line-height);
  color: var(--color--text);
  background-color: var(--color--background);
  font-family: var(--font-family);
  font-weight: var(--font-face--regular--font-weight);
  --color--text: var(--color--bulma-100);
  --color--background: var(--color--goku-100);
  --box-shadow--sm: 0px 0.3px 0.9px rgba(0, 0, 0, 0.4), 0px 1.6px 3.6px rgba(0, 0, 0, 0.52);
  --box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.4), 0px 3.2px 7.2px rgba(0, 0, 0, 0.52);
  --box-shadow--md: 0px 0.6px 1.8px rgba(0, 0, 0, 0.4), 0px 3.2px 7.2px rgba(0, 0, 0, 0.52);
  --box-shadow--default: 0px 0.6px 1.8px rgba(0, 0, 0, 0.4), 0px 3.2px 7.2px rgba(0, 0, 0, 0.52);
  --box-shadow--lg: 0px 4.8px 14.4px rgba(0, 0, 0, 0.72), 0px 25.6px 57.6px rgba(0, 0, 0, 0.88);
  --box-shadow--xl: undefined;
  --color--krillin-100: #F5A300;
  --color--krillin-60: #FFC95C;
  --color--krillin-10: #FDF5E2;
  --color--chi-chi-100: #FF1F39;
  --color--chi-chi-60: #FF5C6F;
  --color--chi-chi-10: #FFEBED;
  --color--roshi-100: #0BC15A;
  --color--roshi-60: #0DE76C;
  --color--roshi-10: #DAFDE9;
  --color--dodoria-100: #DC3618;
  --color--dodoria-60: #ED705A;
  --color--dodoria-10: #FCE4E0;
  --color--cell-100: #28697B;
  --color--cell-60: #3791A9;
  --color--cell-10: #E0F0F5;
  --color--raditz-100: #91673B;
  --color--raditz-60: #C49A6E;
  --color--raditz-10: #F3EBE2;
  --color--whis-100: #0D53D3;
  --color--whis-60: #3F7EF3;
  --color--whis-10: #E4ECF9;
  --color--frieza-100: #5C33CF;
  --color--frieza-60: #8A67F4;
  --color--frieza-10: #b6a3e9;
  --color--nappa-100: #A52755;
  --color--nappa-60: #D75B88;
  --color--nappa-10: #F9E7EE;
  --color--piccolo-120: #080917;
  --color--piccolo-100: #080917;
  --color--piccolo-80: #080917;
  --color--hit-120: #353c44;
  --color--hit-100: #4c5159;
  --color--hit-80: #62676d;
  --color--beerus-100: #31373f;
  --color--goku-120: #4c5159;
  --color--goku-100: #353c44;
  --color--gohan-120: #62676d;
  --color--gohan-100: #080917;
  --color--goten-100: #ffffff;
  --color--bulma-100: #ffffff;
  --color--trunks-100: #8697a2;
}
