.moon-badge {
  display: inline-flex;
  font-weight: var(--font-weight--semibold);
  text-transform: uppercase;
  border-radius: var(--radius--largest);
  letter-spacing: 0.0625rem;
}

.moon-badge[data-size=xsmall], .moon-badge {
  padding: 0 0.25rem;
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.moon-badge[data-size=small] {
  padding: 0 0.5rem;
  font-size: 0.625rem;
  line-height: 1rem;
}

