.moon-carousel {
  overflow: hidden;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  width: 100%;
}

.moon-carousel .carousel-inner {
  width: auto;
  white-space: nowrap;
}

