.moon-link {
  display: inline-block;
  padding: 0;
  font: inherit;
  color: var(--color--piccolo-100);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.moon-link:hover, .moon-link:focus, .moon-link:active {
  color: var(--color--piccolo-80);
}

.moon-link:disabled, .moon-link[data-disabled=true] {
  cursor: not-allowed;
  opacity: var(--opacity--disabled);
}

.moon-link[data-secondary='true'] {
  color: var(--color--trunks-100);
}

.moon-link[data-optional='true'] {
  color: var(--color--trunks-100);
}

.moon-link[data-optional='true']:hover, .moon-link[data-optional='true']:focus, .moon-link[data-optional='true']:active, .moon-link[data-optional='true'].active {
  color: var(--color--bulma-100);
}

