.moon-text[data-size="10"] {
  font-size: 0.625rem;
  line-height: 1rem;
}

.moon-text[data-size="12"] {
  font-size: 0.75rem;
  line-height: 1rem;
}

.moon-text[data-size="14"] {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.moon-text[data-size="16"] {
  font-size: 1rem;
  line-height: 1.5rem;
}

.moon-text[data-size="18"] {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.moon-text[data-size="20"] {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.moon-text[data-size="24"] {
  font-size: 1.5rem;
  line-height: 2rem;
}

.moon-text[data-size="32"] {
  font-size: 2rem;
  line-height: 2.5rem;
}

.moon-text[data-size="48"] {
  font-size: 3rem;
  line-height: 3.5rem;
}

.moon-text[data-size="56"] {
  font-size: 3.5rem;
  line-height: 4rem;
}

.moon-text[data-size="64"] {
  font-size: 4rem;
  line-height: 4.5rem;
}

.moon-text[data-size="72"] {
  font-size: 4.5rem;
  line-height: 4.75rem;
}

.moon-text[data-is-bold='true'] {
  font-weight: var(--font-weight--semibold);
}

