

@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 400;
  src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");
}

@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 500;
  src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
}
  
.lab-dark {
  
  --base--font-size: 16;
  --base--line-height: 24px;

  --border-width: 1px solid;
  --border-i-width: 2px solid;

  --breakpoint--sm: 640px;
  --breakpoint--md: 768px;
  --breakpoint--lg: 1024px;
  --breakpoint--xl: 1280px;
  --breakpoint--2xl: 1536px;

  --opacity--disabled: 0.32;

  --radius-i-xs: 0.25rem;
  --radius-i-sm: 0.5rem;
  --radius-i-md: 0.75rem;
  --radius-s-xs: 0.25rem;
  --radius-s-sm: 0.5rem;
  --radius-s-md: 0.75rem;
  --radius-s-lg: 1rem;

  --space--xsmall: undefined;
  --space--small: undefined;
  --space--default: undefined;
  --space--medium: undefined;
  --space--large: undefined;
  --space--xlarge: undefined;

  --transition-duration--slow: 0.4s;
  --transition-duration--default: 0.2s;

  --z-index--carousel-control: 5;
  --z-index--dialog: 10000;
  --z-index--toggle: 1;

  font-family: Averta Std, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: var(--base--font-size);
  line-height: var(--base--line-height);
  color: var(--color--text);
  background-color: var(--color--background);

  --color--text: var(--color--bulma-100);
  --color--background: var(--color--gohan-100);
  

  
  --box-shadow--sm: 0px 6px 6px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  --box-shadow--md: 0px 12px 12px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  --box-shadow--lg: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  --box-shadow--xl: 0px 32px 32px -8px rgba(0, 0, 0, 0.08), 0px 0px 32px -8px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.2);
  --box-shadow:  0px 12px 12px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  --box-shadow--default:  0px 12px 12px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);

  
  --color--krillin-100: #F5A300;
  --color--krillin-60: #FFC95C;
  --color--krillin-10: #FDF5E2;
  --color--chi-chi-100: #FF1F39;
  --color--chi-chi-60: #FF5C6F;
  --color--chi-chi-10: #FFEBED;
  --color--roshi-100: #0BC15A;
  --color--roshi-60: #0DE76C;
  --color--roshi-10: #DAFDE9;
  --color--dodoria-100: #DC3618;
  --color--dodoria-60: #ED705A;
  --color--dodoria-10: #FCE4E0;
  --color--cell-100: #28697B;
  --color--cell-60: #3791A9;
  --color--cell-10: #E0F0F5;
  --color--raditz-100: #91673B;
  --color--raditz-60: #C49A6E;
  --color--raditz-10: #F3EBE2;
  --color--whis-100: #0D53D3;
  --color--whis-60: #3F7EF3;
  --color--whis-10: #E4ECF9;
  --color--frieza-100: #5C33CF;
  --color--frieza-60: #8A67F4;
  --color--frieza-10: #F0ECFE;
  --color--nappa-100: #A52755;
  --color--nappa-60: #D75B88;
  --color--nappa-10: #F9E7EE;
  --color--piccolo-100: #4E46B4;
  --color--hit-100: #0B0B0B;
  --color--beerus-100: #1F1F1F;
  --color--gohan-100: #1F1F1F;
  --color--goten-100: #FFFFFF;
  --color--goku-100: #0B0B0B;
  --color--bulma-100: #FFFFFF;
  --color--trunks-100: #999CA0;
}
