
@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 400;
  src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");
}

@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 500;
  src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
}

.luckyslots {
--base--space: 16px;
--base--font-size: 16px;
--base--line-height: 20px;

--border-style: solid;
--border-width: 1px;
--border-i-width: 2px;
--border: 1px solid;
--box-shadow: 0px 0px 1px 0px #00000066, 0px 8px 24px -6px #00000029;

--breakpoint--small: 500px;
--breakpoint--medium: 800px;
--breakpoint--large: 1080px;
--breakpoint--xlarge: 1200px;

--font-face--regular--font-family: Averta Std;
--font-face--regular--font-style: normal;
--font-face--regular--font-display: swap;
--font-face--regular--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
--font-face--regular--font-weight: 400;
--font-face--regular--src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");

--font-face--semibold--font-family: Averta Std;
--font-face--semibold--font-style: normal;
--font-face--semibold--font-display: swap;
--font-face--semibold--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
--font-face--semibold--font-weight: 500;
--font-face--semibold--src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
        
--font-family: Averta Std, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
--font-size: 14;
--font-weight--normal: 400;
--font-weight--semibold: 500;

--max-width--default: 1024;
--max-width--large: 1440;

--opacity--disabled: 0.35;

--radius--small: 4px;
--radius--default: 8px;
--radius--largest: 100px;

--space--xsmall: 4px;
--space--small: 8px;
--space--default: 16px;
--space--medium: 24px;
--space--large: 32px;
--space--xlarge: 40px;

--transition-duration--slow: 0.4s;
--transition-duration--default: 0.2s;

--z-index--carousel-control: 5;
--z-index--dialog: 5;
--z-index--toggle: 1;

--color--text: #FFFFFF;
--color--background: #3133C4;
        
--color--krillin-10: 255 228 173; /* #ffe4ad */
--color--krillin-100: 255 179 25; /* #ffb319 */
--color--chi-chi-10: 255 167 178; /* #ffa7b2 */
--color--chi-chi-100: 255 78 100; /* #ff4e64 */
--color--roshi-10: 182 243 208; /* #b6f3d0 */
--color--roshi-100: 12 214 100; /* #0cd664 */
--color--dodoria-10: 233 151 151; /* #e99797 */
--color--dodoria-100: 211 48 48; /* #d33030 */
--color--cell-10: 132 219 171; /* #84dbab */
--color--cell-100: 10 183 88; /* #0ab758 */
--color--raditz-10: 217 191 164; /* #d9bfa4 */
--color--raditz-100: 179 128 74; /* #b3804a */
--color--whis-10: 135 186 222; /* #87bade */
--color--whis-100: 15 117 189; /* #0f75bd */
--color--frieza-10: 182 163 233; /* #b6a3e9 */
--color--frieza-100: 92 51 207; /* #5c33cf */
--color--nappa-10: 184 170 167; /* #b8aaa7 */
--color--nappa-100: 114 85 80; /* #725550 */
--color--popo-100: 0 0 0; /* #000 */
--color--piccolo-80: 243 32 85; /* #f32055 */
--color--piccolo-100: 250 0 62; /* #fa003e */
--color--piccolo-120: 224 0 56; /* #e00038 */
--color--hit-80: 118 120 232; /* #7678e8 */
--color--hit-100: 84 86 226; /* #5456e2 */
--color--hit-120: 67 69 181; /* #4345b5 */
--color--goten-100: 255 255 255; /* #ffffff */
--color--goku-10: 2 4 115; /* #020473 */
--color--goku-40: 17 19 151; /* #111397 */
--color--goku-80: 37 40 182; /* #2528b6 */
--color--goku-100: 49 51 196; /* #3133c4 */
--color--gohan-10: 103 69 176; /* #6745b0 */
--color--gohan-40: 77 43 151; /* #4d2b97 */
--color--gohan-80: 53 21 121; /* #351579 */
--color--gohan-100: 42 13 104; /* #2a0d68 */
--color--beerus-100: 53 59 80; /* #353b50 */
--color--bulma-100: 255 255 255; /* #ffffff */
--color--trunks-100: 219 226 245; /* #dbe2f5 */

--radius-i-xs: 0.25rem; /* 4px */
--radius-i-sm: 0.5rem; /* 8px */
--radius-i-md: 0.75rem; /* 12px */
--radius-s-xs: 0.25rem; /* 4px */
--radius-s-sm: 0.5rem; /* 8px */
--radius-s-md: 0.75rem; /* 12px */
--radius-s-lg: 1rem; /* 16px */

space: var(--base--space);
font-size: var(--base--font-size);
line-height: var(--base--line-height);
color: var(--color--text);
background-color: var(--color--background);
font-family: var(--font-family);
font-weight: var(--font-face--regular--font-weight);
}
    