
@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 400;
  src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");
}

@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 500;
  src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
}

.moon-design-light {
--base--space: 16px;
--base--font-size: 16px;
--base--line-height: 20px;

--border-style: solid;
--border-width: 1px;
--border-i-width: 2px;
--border: 1px solid;
--box-shadow: 0px 2.4px 7.2px rgba(0, 0, 0, 0.18), 0px 12.8px 28.8px rgba(0, 0, 0, 0.22);

--breakpoint--small: 500px;
--breakpoint--medium: 800px;
--breakpoint--large: 1080px;
--breakpoint--xlarge: 1200px;

--font-face--regular--font-family: Averta Std;
--font-face--regular--font-style: normal;
--font-face--regular--font-display: swap;
--font-face--regular--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
--font-face--regular--font-weight: 400;
--font-face--regular--src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");

--font-face--semibold--font-family: Averta Std;
--font-face--semibold--font-style: normal;
--font-face--semibold--font-display: swap;
--font-face--semibold--unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
--font-face--semibold--font-weight: 500;
--font-face--semibold--src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
        
--font-family: Averta Std, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
--font-size: 14;
--font-weight--normal: 400;
--font-weight--semibold: 500;

--max-width--default: 1024;
--max-width--large: 1440;

--opacity--disabled: 0.35;

--radius--small: 4px;
--radius--default: 8px;
--radius--largest: 100px;

--space--xsmall: 4px;
--space--small: 8px;
--space--default: 16px;
--space--medium: 24px;
--space--large: 32px;
--space--xlarge: 40px;

--transition-duration--slow: 0.4s;
--transition-duration--default: 0.2s;

--z-index--carousel-control: 5;
--z-index--dialog: 5;
--z-index--toggle: 1;

--color--text: #000000;
--color--background: #F5F5F5;
        
--color--krillin-10: 255 217 141;
--color--krillin-60: 255 198 82;
--color--krillin-100: 255 179 25;
--color--chi-chi-10: 255 150 163;
--color--chi-chi-60: 255 118 135;
--color--chi-chi-100: 255 78 100;
--color--roshi-10: 127 242 145;
--color--roshi-60: 100 220 119;
--color--roshi-100: 74 209 95;
--color--dodoria-10: 240 103 103;
--color--dodoria-60: 219 78 78;
--color--dodoria-100: 211 48 48;
--color--cell-10: 191 255 236;
--color--cell-60: 162 250 223;
--color--cell-100: 149 241 213;
--color--raditz-10: 214 169 121;
--color--raditz-60: 193 145 93;
--color--raditz-100: 179 128 74;
--color--whis-10: 132 144 249;
--color--whis-60: 103 119 248;
--color--whis-100: 52 72 240;
--color--frieza-10: 146 113 239;
--color--frieza-60: 115 77 222;
--color--frieza-100: 92 51 207;
--color--nappa-10: 161 134 129;
--color--nappa-60: 133 106 102;
--color--nappa-100: 114 85 80;
--color--popo-100: 0 0 0;
--color--piccolo-80: rgba(78, 70, 180, 0.9);
--color--piccolo-100: 78 70 180;
--color--piccolo-120: rgba(78, 70, 180, 0.9); /* rgba(78, 70, 180, 0.9) */
--color--hit-80: 229 229 229; /* #e5e5e5 */
--color--hit-100: 64 166 159;
--color--hit-120: 229 229 229; /* #e5e5e5 */
--color--beerus-100: 235 235 235;
--color--goku-10: 245 245 245; /* #f5f5f5 */
--color--goku-40: 245 245 245; /* #f5f5f5 */
--color--goku-80: 245 245 245; /* #f5f5f5 */
--color--goku-100: 245 245 245;
--color--gohan-10: 255 255 255; /* #ffffff */
--color--gohan-40: 255 255 255; /* #ffffff */
--color--gohan-80: 255 255 255; /* #ffffff */
--color--gohan-100: 255 255 255;
--color--goten-100: 255 255 255;
--color--bulma-100: 0 0 0;
--color--trunks-100: 153 156 160;

--radius-i-xs: 0.25rem; /* 4px */
--radius-i-sm: 0.5rem; /* 8px */
--radius-i-md: 0.75rem; /* 12px */
--radius-s-xs: 0.25rem; /* 4px */
--radius-s-sm: 0.5rem; /* 8px */
--radius-s-md: 0.75rem; /* 12px */
--radius-s-lg: 1rem; /* 16px */

space: var(--base--space);
font-size: var(--base--font-size);
line-height: var(--base--line-height);
color: var(--color--text);
background-color: var(--color--background);
font-family: var(--font-family);
font-weight: var(--font-face--regular--font-weight);
}
    