

@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 400;
  src: local("AvertaStd-Regular"), local("Averta Std Regular"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2) format("woff2");
}

@font-face {
  font-family: Averta Std;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 500;
  src: local("AvertaStd-Semibold"), local("Averta Std Semibold"), url(https://sportsbet.io/sportsbet-io/files/fonts/averta-std/semibold.woff2) format("woff2");
}
  
.partners-light {
  
  --base--font-size: 14;
  --base--line-height: 24px;

  --border-width: 1px;
  --border-i-width: undefined;

  --breakpoint--sm: undefined;
  --breakpoint--md: undefined;
  --breakpoint--lg: undefined;
  --breakpoint--xl: undefined;
  --breakpoint--2xl: undefined;

  --opacity--disabled: 240ms;

  --radius-i-xs: undefined;
  --radius-i-sm: undefined;
  --radius-i-md: undefined;
  --radius-s-xs: undefined;
  --radius-s-sm: undefined;
  --radius-s-md: undefined;
  --radius-s-lg: undefined;

  --space--xsmall: 4px;
  --space--small: 8px;
  --space--default: 16px;
  --space--medium: 24px;
  --space--large: 32px;
  --space--xlarge: 40px;

  --transition-duration--slow: 0.4s;
  --transition-duration--default: 0.2s;

  --z-index--carousel-control: 5;
  --z-index--dialog: 10000;
  --z-index--toggle: 1;

  font-family: Averta Std, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: var(--base--font-size);
  line-height: var(--base--line-height);
  color: var(--color--text);
  background-color: var(--color--background);

  --color--text: var(--color--bulma-100);
  --color--background: var(--color--gohan-100);
  

  --box-shadow--sm:  undefined
  --box-shadow:  undefined
  --box-shadow--md:  undefined
  --box-shadow--default:  undefined
  --box-shadow--lg:  undefined
  --box-shadow--xl:  undefined

  
  --color--krillin-100: 245 163 0; /* #F5A300 */
  --color--krillin-60: null; /* #undefined */
  --color--krillin-10: 253 245 226; /* #FDF5E2 */
  --color--chi-chi-100: 255 31 57; /* #FF1F39 */
  --color--chi-chi-60: null; /* #undefined */
  --color--chi-chi-10: 255 235 237; /* #FFEBED */
  --color--roshi-100: 11 193 90; /* #0BC15A */
  --color--roshi-60: null; /* #undefined */
  --color--roshi-10: 218 253 233; /* #DAFDE9 */
  --color--dodoria-100: 220 54 24; /* #DC3618 */
  --color--dodoria-60: null; /* #undefined */
  --color--dodoria-10: 252 228 224; /* #FCE4E0 */
  --color--cell-100: 40 105 123; /* #28697B */
  --color--cell-60: null; /* #undefined */
  --color--cell-10: 224 240 245; /* #E0F0F5 */
  --color--raditz-100: null; /* #undefined */
  --color--raditz-60: null; /* #undefined */
  --color--raditz-10: 243 235 226; /* #F3EBE2 */
  --color--whis-100: 13 83 211; /* #0D53D3 */
  --color--whis-60: null; /* #undefined */
  --color--whis-10: 228 236 249; /* #E4ECF9 */
  --color--frieza-100: 92 51 207; /* #5C33CF */
  --color--frieza-60: null; /* #undefined */
  --color--frieza-10: 182 163 233; /* #b6a3e9 */
  --color--nappa-100: 165 39 85; /* #A52755 */
  --color--nappa-60: null; /* #undefined */
  --color--nappa-10: 249 231 238; /* #F9E7EE */
  --color--piccolo-100: 78 70 180; /* #4E46B4 */
  --color--hit-100: 119 119 126; /* #77777E */
  --color--beerus-100: 224 224 225; /* #E0E0E1 */
  --color--gohan-100: 255 255 255; /* #FFFFFF */
  --color--goten-100: 255 255 255; /* #FFFFFF */
  --color--goku-100: 245 245 246; /* #F5F5F6 */
  --color--bulma-100: 34 34 37; /* #222225 */
  --color--trunks-100: 119 119 126; /* #77777E */
}
