version: 2.1
aliases:

references:
  images:
    elixir: &ELIXIR_IMAGE heathmont/elixir-ci:1.13.1-otp-24-alpine

jobs:
  prelease:
    docker:
      - image: *ELIXIR_IMAGE
    environment:
      MIX_ENV: prod
    steps:
      - checkout
      - run:
          name: Check variables
          command: ./scripts/deploy/check-vars "in system" "ROBOT_SSH_KEY" "DOCKER_EMAIL" "DOCKER_ORG" "DOCKER_PASS" "DOCKER_USER" "HEX_API_KEY"
      - run:
          name: Setup robot SSH key
          command: echo "$ROBOT_SSH_KEY" | base64 -d > $HOME/.ssh/id_rsa.robot && chmod 600 $HOME/.ssh/id_rsa.robot && ssh-add $HOME/.ssh/id_rsa.robot
      - run:
          name: Setup SSH config
          command: echo -e "Host *\n IdentityFile $HOME/.ssh/id_rsa.robot\n IdentitiesOnly yes" > $HOME/.ssh/config
      - restore_cache:
          keys:
            - v10-build-{{ checksum "mix.lock" }}
            - v10-build-
      - run:
          name: Hex auth
          command: mix hex.organization auth coingaming --key $HEX_API_KEY
      - run:
          name: Fetch dependencies
          command: mix setup
      - run:
          name: "Clean assets"
          command: mix phx.digest.clean --all && mix assets.clean
      - run:
          name: "Install apps dependencies"
          command: mix assets.setup
      - run:
          name: "Build apps assets"
          command: mix assets.deploy
      - run:
          name: Build release
          command: mix release
      - save_cache:
          key: v10-build-{{ checksum "mix.lock" }}
          paths:
            - deps
            - _build
            - ~/.mix
  test:
    docker:
      - image: *ELIXIR_IMAGE
    environment:
      MIX_ENV: test
    steps:
      - checkout
      - run:
          name: Check variables
          command: ./scripts/deploy/check-vars "in system" "ROBOT_SSH_KEY" "DOCKER_EMAIL" "DOCKER_ORG" "DOCKER_PASS" "DOCKER_USER" "HEX_API_KEY"
      - run:
          name: Setup robot SSH key
          command: echo "$ROBOT_SSH_KEY" | base64 -d > $HOME/.ssh/id_rsa.robot && chmod 600 $HOME/.ssh/id_rsa.robot && ssh-add $HOME/.ssh/id_rsa.robot
      - run:
          name: Setup SSH config
          command: echo -e "Host *\n IdentityFile $HOME/.ssh/id_rsa.robot\n IdentitiesOnly yes" > $HOME/.ssh/config
      - restore_cache:
          keys:
            - v10-build-{{ checksum "mix.lock" }}
            - v10-build-
      - run:
          command: mix hex.organization auth coingaming --key $HEX_API_KEY
      - run:
          command: mix archive.install hex ex_env 0.3.1 --force
      - run:
          command: mix setup
      - run:
          command: mix assets.setup
      - run:
          command: mix compile --all-warnings --warnings-as-errors
      - run:
          command: mix format --check-formatted
      - run:
          command: mix surface.format --check-formatted
      - run:
          command: mix credo
      - run:
          command: mix test
  dockerhub:
    docker:
      - image: *ELIXIR_IMAGE
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: ./
      - restore_cache:
          keys:
            - v10-build-{{ checksum "mix.lock" }}
            - v10-build-
      - run: mix compile
      - run: echo -e "$DOCKER_PASS" | docker login -u $DOCKER_USER --password-stdin
      - run: scripts/deploy/docker-build-ci push $CIRCLE_TAG
  deploy:
    docker:
      - image: *ELIXIR_IMAGE
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: ./
      - run:
          name: Docker login
          command: echo -e "$DOCKER_PASS" | docker login -u $DOCKER_USER --password-stdin
      - run:
          name: Setup robot SSH key
          command: |
            echo "$ROBOT_SSH_KEY" | base64 -d > $HOME/.ssh/id_rsa.robot && chmod 600 $HOME/.ssh/id_rsa.robot && ssh-add $HOME/.ssh/id_rsa.robot
            echo -e "Host *\n IdentityFile $HOME/.ssh/id_rsa.robot\n IdentitiesOnly yes" > $HOME/.ssh/config
      - run:
          name: Setup deploy tool auth
          command: echo "{\"user\":\"$DEPLOY_USER\", \"pass\":\"$DEPLOY_PASS\"}" > $HOME/.deploy_auth
      - run:
          name: Deploy
          command: scripts/deploy/stacks-deploy $CIRCLE_TAG
  semrelease:
    docker:
      - image: *ELIXIR_IMAGE
    environment:
      MIX_ENV: test
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - v10-build-{{ checksum "mix.lock" }}
            - v10-build-
      - run:
          name:       Hex auth
          command:    mix hex.organization auth coingaming --key $HEX_API_KEY
      - run:
          name:       Fetch dependencies
          command:    mix deps.get
      - run:
          name:       Compile dependencies
          command:    mix deps.compile
      - run:
          name:       Compile protocols
          command:    mix compile --warnings-as-errors
      - run:
          name:       Test
          command:    mix test
      - save_cache:
          key: v10-build-{{ checksum "mix.lock" }}
          paths:
            - deps
            - _build
            - ~/.mix
      - run:
          name:       Semantic Release
          command:    npx semantic-release --extends @heathmont/semantic-release-elixir-hex
  

workflows:
  version: 2
  workflow:
    jobs:
      - prelease:
          context: global
      - test:
          context: global
      - semrelease:
          context: global
          # filters:
          #   branches:
          #     only: 
          #       - main
      - dockerhub:
          context: global
          # filters:
          #   branches:
          #     only:
          #       - main
          requires:
            - prelease
      - deploy:
          context: global
          # filters:
          #   branches:
          #     only: 
          #       - main
          #   tags:
          #     only: /^v.*/
          requires:
            - dockerhub
  