/*
This file will be removed!
 
Please do not add CSS here. Instead use Tailwind classes!
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  font-family: 'Averta Std', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-size-adjust: 80%; /* Prevent automatic zooming of fonts on some mobile devices. */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* Consistent font display behavior on OSX. */
  -moz-osx-font-smoothing: grayscale; /* Consistent font display behavior on OSX. */
}

@layer components {
  .moon-input-group.horizontal > div:first-child input {
    @apply rounded-tr-none rounded-br-none input-rsb-hidden ;
  }
  .moon-input-group.horizontal > div:first-child input:hover {
    @apply rounded-moon-i-md rounded-moon-i-md;
  }
  .moon-input-group.horizontal > div:last-child input {
    @apply rounded-tl-none rounded-bl-none input-lsb-hidden ;
  }
  .moon-input-group.horizontal > div:last-child input:hover {
    @apply rounded-moon-i-md rounded-moon-i-md;
  }

  .moon-input-group.horizontal.rtl > div:first-child input {
    @apply rounded-tl-none rounded-bl-none input-lsb-hidden ;
  }
  .moon-input-group.horizontal.rtl > div:first-child input:hover {
    @apply rounded-moon-i-md rounded-moon-i-md;
  }
  .moon-input-group.horizontal.rtl > div:last-child input {
    @apply rounded-tl-none rounded-bl-none input-lsb-hidden ;
  }
  .moon-input-group.horizontal.rtl > div:last-child input:hover {
    @apply rounded-moon-i-md rounded-moon-i-md;
  }


  .moon-input-group.vertical > div:first-child input {
    @apply rounded-bl-none rounded-br-none input-bbb-hidden;
  }
  .moon-input-group.vertical > div:first-child input:hover {
    @apply rounded-moon-i-md;
  }
  .moon-input-group.vertical > div:last-child input {
    @apply rounded-tl-none rounded-tr-none input-tbb-hidden;
  }
  .moon-input-group.vertical > div:last-child input:hover {
    @apply rounded-moon-i-md;
  }
  .carousel-item {
    scroll-snap-type: x;
    scroll-snap-align: start;
    overflow: hidden;
    white-space: normal;
    vertical-align: top;
  }
  .moon-icon {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-logo {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-country-flag {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-currency {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-asset {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-duotone {
    @apply inline-block align-middle text-piccolo-100;
  }
  .moon-pattern {
    @apply inline-block align-middle text-piccolo-100;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-snap-x-mandatory {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-align-start {
    scroll-snap-align: start;
  }
  .radio-button-checked-outline {
    box-shadow: inset 0 0 0 0.1rem var(--color--piccolo-100);   
  }  
  .radio-button-unchecked-outline {
    box-shadow: inset 0 0 0 0.1rem var(--color--trunks-100);  
  }
  .radio-button-hover {
    background-color: rgba(0, 0, 0, 0.08)
  }
}

@layer utilities {
  .animation-delay-minus-45 {
    animation-delay: -0.45s;
  }
  .animation-delay-minus-30 {
    animation-delay: -0.3s;
  }
  .animation-delay-minus-15 {
    animation-delay: -0.15s;
  }
  .hide-visually {   
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  } 
}

[x-cloak] {
  display: none !important;
}

input.date-icon-hidden[type="date"]::-webkit-inner-spin-button,
input.date-icon-hidden[type="date"]::-webkit-calendar-picker-indicator,
input.date-icon-hidden[type="datetime-local"]::-webkit-inner-spin-button,
input.date-icon-hidden[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
