/*
This file will be removed!

Please do not add CSS here. Instead use Tailwind classes!
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .carousel-item {
    scroll-snap-type: x;
    scroll-snap-align: start;
    overflow: hidden;
    white-space: normal;
    vertical-align: top;
  }
  .moon-icon {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-logo {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-currency {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-asset {
    @apply inline-block align-middle h-[1em] w-[1em];
  }
  .moon-duotone {
    @apply inline-block align-middle text-piccolo-100;
  }
  .moon-pattern {
    @apply inline-block align-middle text-piccolo-100;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-snap-x-mandatory {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-align-start {
    scroll-snap-align: start;
  }
}

@layer utilities {
  .animation-delay-minus-45 {
    animation-delay: -0.45s;
  }
  .animation-delay-minus-30 {
    animation-delay: -0.3s;
  }
  .animation-delay-minus-15 {
    animation-delay: -0.15s;
  }
}

[x-cloak] {
  display: none !important;
}

input.date-icon-hidden[type="date"]::-webkit-inner-spin-button,
input.date-icon-hidden[type="date"]::-webkit-calendar-picker-indicator,
input.date-icon-hidden[type="datetime-local"]::-webkit-inner-spin-button,
input.date-icon-hidden[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
