@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


.carousel-item {
  scroll-snap-type: x;
  scroll-snap-align: start;
  overflow: hidden;
  white-space: normal;
  vertical-align: top;
}

.h-50vw {
  height: 50vw;
}

.bg-image {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.border-radius-default {
  border-radius: var(--radius--default);
}
