@import '../themes/theme.scss';
@import '../utils/rem.scss';

.moon-button {
  display: inline-block;
  min-height: rem(24);
  font-family: inherit;
  font-weight: $theme--font-weight--semibold;
  text-decoration: none;
  cursor: pointer;
  border: $theme--border;
  border-color: transparent;
  border-radius: rem($theme--radius--largest);
  transition: background-color $theme--transition-duration--default+s;
  white-space: nowrap;

  &:active,
  &[mock-state='active'],
  &:focus,
  &[mock-state='focus'] {
    outline: none;
    -moz-outline: none;
  }

  &[data-full-width='true'] {
    width: 100%;
    position: relative;
  }

  &[data-variant='primary'] {
    color: $theme--color--goten-100;
    background-color: $theme--color--piccolo-100;

    &:hover,
    &[data-mock-state='hover'] {
      background-color: $theme--color--piccolo-80;
    }

    &:active,
    &[data-mock-state='active'] {
      background-color: $theme--color--piccolo-120;
    }
  }

  &[data-variant='secondary'] {
    color: $theme--color--bulma-100;
    background-color: $theme--color--hit-100;

    &:hover,
    &[data-mock-state='hover'] {
      background-color: $theme--color--hit-80;
    }

    &:active,
    &[data-mock-state='active'] {
      background-color: $theme--color--hit-120;
    }
  }

  &[data-variant='tertiary'] {
    color: $theme--color--bulma-100;
    background-color: transparent;
    border: 1px solid $theme--color--bulma-100;

    &:hover,
    &[data-mock-state='hover'] {
      background-color: $theme--color--hit-80;
    }

    &:active,
    &[data-mock-state='active'] {
      background-color: $theme--color--hit-120;
    }
  }

  &[data-variant='highlight'] {
    color: $theme--color--goten-100;
    background-color: $theme--color--whis-100;

    &:hover,
    &[data-mock-state='hover'] {
      opacity: 0.9;
    }

    &:active,
    &[data-mock-state='active'] {
      opacity: 0.8;
    }
  }

  &[data-variant='default'] {
    color: $theme--color--bulma-100;
    background-color: none;

    &:hover,
    &[data-mock-state='hover'] {
      color: $theme--color--bulma-100;
    }

    &:active,
    &[data-mock-state='active'] {
      color: $theme--color--bulma-100;
    }
  }

  &[data-size='xsmall'] {
    font-size: rem(12);
    line-height: rem(16);
    height: rem(32);
    padding: 0 rem(16);
  }

  &[data-size='small'] {
    font-size: rem(14);
    line-height: rem(20);
    height: rem(40);
    padding: 0 rem(20);
  }

  &[data-size='medium'] {
    font-size: rem(16);
    line-height: rem(24);
    height: rem(48);
    padding: 0 rem(24);
  }

  &[data-size='large'] {
    font-size: rem(18);
    line-height: rem(24);
    height: rem(56);
    padding: 0 rem(32);
  }
}
