@import "../themes/theme.scss";
@import "../utils/rem.scss";

.moon-text-input {
  width: 100%;
  max-width: 100%;
  padding: rem($theme--space--small) + ' ' + rem($theme--space--default);
  appearance: none;
  font: inherit;
  font-size: rem(16);
  line-height: 1.5;
  color: $theme--color--bulma-100;
  background-color: $theme--color--gohan-100;
  border: $theme--border-width + 'px solid ' + $theme--color--beerus-100;
  border-radius: rem(12);
  transition: 'border-color ' + $theme--transition-duration--default + 's ease';

  &::placeholder {
    color: $theme--color--trunks-100;
    opacity: 1;
  }

  &:hover:not(:focus):not([disabled]) {
    border-color: $theme--color--goku-40;
  }

  &:not(:placeholder-shown):not([type='date']):invalid {
    border-color: $theme--color--chi-chi-100;
  }

  &:invalid,
  :-moz-ui-invalid {
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus {
    border-color: $theme--color--piccolo-100;
    outline: none;
  }

  &data[error='true']:focus {
    border-color: $theme--color--chi-chi-100;
  }

  &data[rounded='true'] {
    border-radius: $theme--radius--largest;
  }
}
