<main role="main">
  <div class="fixed inset-y-0 left-0">
    <%= live_component @socket, MoonWeb.Components.LeftMenu, id: "left-menu", theme_name: assigns.theme_name, active_page: assigns.active_page %>
  </div>

  <div class="ml-72 lg:ml-80 max-w-5xl py-6 pr-8">
    <%= @inner_content %>
  </div>
</main>
