<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Moon Design System" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Moon" %>
    </.live_title>

    <link rel="stylesheet" href={~p"/themes/moon.css"} />
    <link rel="stylesheet" href={~p"/assets/app.css"} />

    <link rel="apple-touch-icon" sizes="180x180" href={~p"/images/favs/apple-touch-icon.png"} />
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/images/favs/favicon-32x32.png"} />
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/images/favs/favicon-16x16.png"} />
    <link rel="manifest" href={~p"/images/favs/site.webmanifest"} />
    <link rel="mask-icon" href={~p"/images/favs/safari-pinned-tab.svg"} />
    <link rel="shortcut icon" href={~p"/images/favs/favicon.ico"} />
    <meta name="msapplication-config" content={~p"/images/favs/browserconfig.xml"} />

    <script defer type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S5KHVFW9Y7">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-S5KHVFW9Y7');
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
