<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Moon", suffix: " · Phoenix Framework" %>

    <link rel="stylesheet" href={static_path(@conn, "/themes/aposta10-dark.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/aposta10-light.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/bitcasino-dark.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/bitcasino-light.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/bombay-club.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/btcxe.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/hub88.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/lab-dark.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/lab-light.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/livecasino-dark.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/livecasino-light.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/luckyslots.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/missions-tool-dark.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/missions-tool-light.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/moon-design-dark.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/moon-design-light.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/slots-dark.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/slots-light.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/sportsbet-dark.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/themes/sportsbet-light.css")} />
    <link rel="stylesheet" href={static_path(@conn, "/assets/app.css")} />

    <style>
      pre {
        font-size: 12px;
        word-wrap: break-word;
        overflow-x: scroll;
      }
    </style>

    <script defer type="text/javascript" src={static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="moon-design-light">
    <%= @inner_content %>
  </body>
</html>
