name: build

on:
  push:
    branches: master

jobs:
  tag-release:
    runs-on: ubuntu-latest
    outputs:
      release-version: ${{ steps.release-version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Tag new release
      - name: Set up Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version: 14

      - name: Install Semantic Release, plugins and preset
        working-directory: .
        run: |
          npm install -g \
            semantic-release@18.0.0 \
            conventional-changelog-conventionalcommits@4.6.1

      - name: Run Sematic Release
        working-directory: .
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: semantic-release

      # Get new release version
      - name: Get release tag
        id: release-tag
        uses: WyriHaximus/github-action-get-previous-tag@v1.1

      - name: Get release version
        id: release-version
        uses: actions/github-script@v5
        with:
          script: |
            core.setOutput(
              'version',
              '${{ steps.release-tag.outputs.tag }}'.slice(1)
            )
